# ACTIVIDAD 2.1

In [1]:
#Librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Carga del archivo

In [3]:
#Carga desde un archivo .xlsx sin indice
df = pd.read_excel("Detalle precios y productos fabricados 2022.xlsx")
df

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [4]:

#Verificamos información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 156.1+ KB

## Uso de los filtros

### Filtro 1

In [11]:

#Filtro por objeto
filtro1 = df [(df ["NOMBRE_VENDEDOR"] == "AARON NUÑO CORDOVA")]
filtro1

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
24,F37069,2022-01-07,AARON NUÑO CORDOVA,ADVANEX DE MEXICO,2,RP00150,REPARACION DE TERMOPAR,1500.00,0.36,0.36,3000.00,0.72,1499.64,2999.28
43,F37107,2022-01-12,AARON NUÑO CORDOVA,ENRIQUE VAZQUEZ PEREZ,8,TUA00404,"TUB INOX 5/16""ØX50CM 4000W240V ""J"" 1""NPT",1328.00,0.00,497.54,10624.00,3980.31,830.46,6643.69
88,F37192,2022-01-25,AARON NUÑO CORDOVA,COMERCIALIZADORA DE REPUESTOS INDUSTRIALES,20,TP0003,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 2 MT,150.00,71.25,71.25,3000.00,1425.02,78.75,1574.98
116,F37249,2022-01-31,AARON NUÑO CORDOVA,INGENIERIA DE PLASTICOS E IMPRESIONES,2,BB00077,BB INOX 40MMØX60MM 300W 240V EXT.30CM,510.00,0.00,37.76,1020.00,75.53,472.24,944.47
275,F37541,2022-03-03,AARON NUÑO CORDOVA,KERN LIEBERS MEXICO,2,TK00028,"TER K 1/4""Øx79CM DOBLEZ 90° C.STD MAC/HE",519.00,78.24,78.24,1038.00,156.48,440.76,881.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BL00002,BL INOX 60mmØx50mm 400W 120/240V EXT30CM,925.82,65.31,65.31,1851.64,130.63,860.51,1721.01
1418,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00145,BAN INOX 146MMØX40MM 500W230V CINT/ALLEN,1910.50,286.13,286.13,3821.00,572.25,1624.37,3248.75
1419,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,BN00146,"BAN INOX 9""ØX3"" ANCH 1700W 230V T/CABLE",2020.42,421.91,421.91,4040.84,843.82,1598.51,3197.02
1420,F39833,2022-12-23,AARON NUÑO CORDOVA,TRILOGIQ-MEXICO,2,PT00079,PT-100 7.5MMØX95MM EXT.48CM 3H C/MACHO,1177.07,477.16,477.16,2354.14,954.32,699.91,1399.82
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Filtro 2

In [16]:
#Filtro por filas
filtro2 = df.iloc[0:6, :]      #filas consecutivas
#filtro2 = df.iloc[[2, 5], :]  #filas no consecutivas
filtro2

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32

### Filtro 3

In [21]:
#Filtro por columnas
#filtro3 = df.iloc[: , 1:3]        #columnas consecutivas
filtro3 = df.iloc[: , [1, 2, 11]]   #columnas no consecutivas
filtro3

      FECHA_DOC            NOMBRE_VENDEDOR  COSTO_TOTAL_CALCULADO
0    2022-01-05  LETICIA RAMIREZ HERNANDEZ                  52.80
1    2022-01-05  LETICIA RAMIREZ HERNANDEZ                 327.18
2    2022-01-05   DIEGO ARMANDO LEON DURAN                1243.73
3    2022-01-05   DIEGO ARMANDO LEON DURAN                  38.96
4    2022-01-05  LETICIA RAMIREZ HERNANDEZ                 203.42
...         ...                        ...                    ...
1421 2022-12-23  LETICIA RAMIREZ HERNANDEZ                 613.88
1422 2022-12-23  LETICIA RAMIREZ HERNANDEZ                 628.12
1423 2022-12-23  LETICIA RAMIREZ HERNANDEZ                1789.64
1424 2022-12-23  LETICIA RAMIREZ HERNANDEZ                1884.35
1425 2022-12-23         AARON NUÑO CORDOVA                 806.55

[1426 rows x 3 columns]

### Filtro 4

In [23]:
#Carga de archivo .xlsx con indice 
df1= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=2)
df1

,CVE_DOC,FECHA_DOC,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
NOMBRE_VENDEDOR,,,,,,,,,,,,,
LETICIA RAMIREZ HERNANDEZ,F37034,2022-01-05,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
LETICIA RAMIREZ HERNANDEZ,F37036,2022-01-05,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
DIEGO ARMANDO LEON DURAN,F37041,2022-01-05,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
DIEGO ARMANDO LEON DURAN,F37042,2022-01-05,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
LETICIA RAMIREZ HERNANDEZ,F37043,2022-01-05,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...
LETICIA RAMIREZ HERNANDEZ,F39834,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
LETICIA RAMIREZ HERNANDEZ,F39834,2022-12-23,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
LETICIA RAMIREZ HERNANDEZ,F39835,2022-12-23,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
LETICIA RAMIREZ HERNANDEZ,F39837,2022-12-23,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
AARON NUÑO CORDOVA,F39838,2022-12-23,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [25]:

#Filtro filas vs columnas
filtro4 = df1.loc[["LETICIA RAMIREZ HERNANDEZ", "AARON NUÑO CORDOVA"], ["PRECIO_UNITARIO", "CANT"]]
filtro4

                           PRECIO_UNITARIO  CANT
NOMBRE_VENDEDOR
LETICIA RAMIREZ HERNANDEZ           434.48     1
LETICIA RAMIREZ HERNANDEZ          1264.05     1
LETICIA RAMIREZ HERNANDEZ           172.41     2
LETICIA RAMIREZ HERNANDEZ           237.07     2
LETICIA RAMIREZ HERNANDEZ            94.50     3
...                                    ...   ...
AARON NUÑO CORDOVA                  925.82     2
AARON NUÑO CORDOVA                 1910.50     2
AARON NUÑO CORDOVA                 2020.42     2
AARON NUÑO CORDOVA                 1177.07     2
AARON NUÑO CORDOVA                 1406.00    10

[967 rows x 2 columns]

### Filtro 5

In [27]:

#Filtro por cabecera, mostrará las primeras 10 filas extraidas de la base 
#de datos (cuando el parentesis esté vacío muestra las primeras 5)
filtro5 = df.head(3)
filtro5

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56

### Filtro 6

In [30]:
#Filtro por cola, mostrará las últimas 10 filas extraidas de la base 
# de datos (cuando el parentesis esté vacío muestra  las últimas 5)
filtro6 = df.tail(3)
filtro6

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

### Filtro 7

In [35]:
#Filtro por comparación, en este flitro se selecciona una variable 
# de la que se requiera extraer datos con uns criterio especificado. 
filtro7 = df[df["PRECIO_UNITARIO"] > 25000]
filtro7

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
672,F38352,2022-06-10,ALFREDO CANELA,FLEX-N-GATE MEXICO,1,RP00203,REPARACION HORNO 15KW 440V TOTAL,32582.18,0.00,199335.56,32582.18,199335.56,-166753.38,-166753.38
842,F38648,2022-07-22,LETICIA RAMIREZ HERNANDEZ,JUAN CARLOS HERNANDEZ PEREZ,1,TUE00172,"TUB INOX 1/2""ØX670MM 22.5W480V BRIDA 6""",25258.15,5169.85,5169.85,25258.15,5169.85,20088.30,20088.30
931,F38850,2022-08-18,LETICIA RAMIREZ HERNANDEZ,JUAN CARLOS HERNANDEZ PEREZ,1,TUE00172,"TUB INOX 1/2""ØX670MM 22.5W480V BRIDA 6""",25258.15,2754.67,2754.67,25258.15,2754.67,22503.48,22503.48
1288,F39576,2022-11-15,ALFREDO CANELA,CARCOUSTICS INDUSTRIAL DE MEXICO,1,EE00022,PLACAS DE FIBRA CERAMICA BARRENADAS,27808.00,0.00,654.34,27808.00,654.34,27153.66,27153.66

### Filtro 8

In [40]:
#Filtro Y, se trabaja con el conector lógico & para extraer datos 
#específicos de la base de datos.
filtro8 = df[(df["PRECIO_UNITARIO"] > 6000) & (df["CANT"] > 10)]
filtro8

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1076,F39139,2022-09-23,ALFREDO CANELA,CARCOUSTICS INDUSTRIAL DE MEXICO,18,BS00006,BP S/BLINDA 300MMX698MM 2500W 230V 18BA,7780.0,816.73,1743.86,70020.0,16025.97,6036.14,53994.03
1077,F39139,2022-09-23,ALFREDO CANELA,CARCOUSTICS INDUSTRIAL DE MEXICO,18,BS00008,BP S/BLINDA 300MMX698MM 2000W 230V 18BA,7780.0,930.34,2064.16,70020.0,19187.82,5715.84,50832.18

### Filtro 9

In [45]:
#Filtro O, se trabaja con el conector lógico | para extraer datos 
filtro9 = df[(df["COSTO_UNITARIO"] > 10000) | (df["FECHA_DOC"] == "2022-09-07")]
filtro9

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
997,F38998,2022-09-07,ALFREDO CANELA,DONGA HWASUNG MEXICO,20,PT00047,"PT-100 3/16""Øx3 1/2"" LONG EXT3MTS,3HILOS",810.00,313.65,313.65,16200.00,6273.10,496.35,9926.90
998,F38999,2022-09-07,AARON NUÑO CORDOVA,GERARDO CRUZ ROLDAN,1,P25601AB0600,"PT-100 5/16""ØX1MT CON1/2""-1/2""NPT C/MARI",1075.31,0.00,521.55,1075.31,521.55,553.76,553.76
999,F39004,2022-09-07,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,8,CS12N1050A00,"CAS INOX 1/2""ØX8"" 500W 127V EXT30CM",753.50,0.00,127.11,6028.00,1016.90,626.39,5011.10
1000,F39005,2022-09-07,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUS00126,"TUS INOX 5/16""ØX30CM 1000W 127V ""U""",497.89,42.80,42.80,497.89,42.80,455.09,455.09
1063,F39121,2022-09-22,ALFREDO CANELA,PRODUCTOS Y SERVICIOS TRES HERMANOS,1,RP00001,REPARACION TUBO PYREX 7.2 OHMS,3298.28,33387.05,33387.05,3298.28,33387.05,-30088.77,-30088.77

### Filtro 10

In [46]:
#Filtro not, se trabaja con el conector lógico ~ para extraer datos 
filtro10 = df[~(df["NOMBRE_CLIENTE"] == "PÚBLICO EN GENERAL")]
filtro10

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

## Conversión de filtros a archivos .CSV

In [47]:
filtro1.to_csv("Filtro por objeto.csv")
#Filtra por objeto NOMRE_VENDEDOR AARON NUÑO COROVA

In [48]:
filtro2.to_csv("Filtro por filas.csv")
#Filtro por filas de la 0 a la 5

In [49]:
filtro3.to_csv("Filtro por columnas.csv")
#Filtro por columnas no consecutivas 1, 2 y 11

In [50]:
filtro4.to_csv("Filtro filas vs columnas.csv")
#Filtro por filas y columnas NOMBRE_VENDEDOR de LETICIA RAMIREZ HERNANDEZ y AARON NUÑO CORDOVA
# y columnas PRECIO_UNITARIO y CANT

In [51]:
filtro5.to_csv("Filtro por cabecera.csv")
#Filtro por cabecera, muestra las primeras 3 filas

In [52]:
filtro6.to_csv("Filtro por cola.csv")
#Filtro por cola, muestra las últimas 3 filas

In [53]:
filtro7.to_csv("Filtro por comparación.csv")
#Filtro por comparación, muestra los datos con un precio unitario mayor a 25000

In [ ]:
filtro8.to_csv("Filtro Y.csv")
#Filtro Y, muestra los datos con un precio unitario mayor a 6000 y una cantidad mayor a 10

In [55]:
filtro9.to_csv("Filtro O.csv")
#Filtro O, muestra los datos con un costo unitario mayor a 10000
#  o una fecha de documento igual a 2022-09-07

In [56]:
filtro10.to_csv("Filtro not.csv")
#Filtro not, muestra los datos con un nombre de cliente 
# diferente a PÚBLICO EN GENERAL